---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Ticker from "../components/Ticker.astro";
import Grain from "../components/Grain.astro";
import WhyMe from "../components/why-me.astro";
import Benefits from "../components/Benefits.astro";
import Footer from "../components/Footer.astro";
import HomeCursor from "../components/home/HomeCursor.astro";
import HeroSection from "../components/home/HeroSection.astro";
import ProcessSection from "../components/home/ProcessSection.astro";
import PortfolioSection from "../components/home/PortfolioSection.astro";
import ServicesSection from "../components/home/ServicesSection.astro";
import PricingSection from "../components/home/PricingSection.astro";
import CtaSection from "../components/home/CtaSection.astro";
import HomeScripts from "../components/home/HomeScripts.astro";
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WebWerkstattWalther - Websites fuer Fotografen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@1,400;1,500&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet" />
</head>
<HomeCursor />
<Grain />
<Navigation />
<HeroSection />
<ProcessSection />
<Ticker />
<Benefits />
<PortfolioSection />
<ServicesSection />
<WhyMe />
<PricingSection />
<CtaSection />
<div data-dark>
  <Footer />
</div>
<HomeScripts />