<div
  id="cd"
  class="pointer-events-none fixed left-0 top-0 z-[9999] h-[10px] w-[10px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-acid mix-blend-difference transition-[width,height] duration-200 [body.ch_&]:h-[5px] [body.ch_&]:w-[5px] [body.cl_&]:h-8 [body.cl_&]:w-8 [body.cl_&]:opacity-[.15]"
></div>
<div
  id="cr"
  class="pointer-events-none fixed left-0 top-0 z-[9998] h-9 w-9 -translate-x-1/2 -translate-y-1/2 rounded-full border-[1.5px] border-blk opacity-30 transition-[width,height,opacity,border-color] duration-300 [body.ch_&]:h-[52px] [body.ch_&]:w-[52px] [body.ch_&]:opacity-[.12] [body.cl_&]:h-9 [body.cl_&]:w-9 [body.cl_&]:opacity-100 [body.on-dark_&]:border-w/45 [body.on-dark_&]:opacity-[.35] [body.on-dark.cl_&]:border-acid"
></div>
