<div class="py-9 border-t border-blk/10 box-border">
    <div
            class="font-display text-[clamp(3rem,7vw,5.5rem)] font-extrabold tracking-[-0.04em] leading-none text-blk mb-1.5"
    >
        <slot name="label" />
    </div>
    <div class="text-[0.83rem] font-light leading-[1.6] text-grey">
        <slot name="description" />
    </div>
</div>